## Group 6

#### Hi! My group consists of me, Lincoln and Leong Seng. This is a write-up of our data science project for SC1015 Introduction to Data Science & Artificial Intelligence. 

#### Nowadays, data are being produced in an enormous amount. With the vast data available, these data can be collected, allowing us to make meaningful decisions by infering from the results of our analysis. With this vast amount of data and it's constant increase, visualization tools enable us to deliver our message to our audience and inform them about our findings.

#### Several varaiable have missing/nan variable, they are replace with certain methods
__new_host_acceptance_rate is replace to 0 if and only if 'number_of_reviews' are 0__
__new_host_acceptance_rate NaN value are replace with mean with review is not 0__


#### We will be exploring and visualizing the dataset from Airbnb in Singapore using exploratory data analysis techiques. Follow my group as we find out the distribution of every Airbnb listing based on the price range, room type, review, and other related factors.

### What is Exploratory Data Analysis?

#### Exploratory data analysis (EDA), also known as Data Exploration is part of the Data Analysis process whereby several techniques are used to better understand the dataset being used.

#### Some of this techniques are:
* Extrating important variables and ignoring useless variables
* Identifying outliers, filling in missing values
* Understanding our data, maximizing our insights on a dataset and minimizing potential error that may occur later in the process

#### Main components of Exploratory Data Analysis:
* Accquire and loading data
* Cleaning the dataset
* Exploring and Visualizing Data

### Load Python libraries

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

### Load dataset

In [2]:
# Import the dataset

Listing_RawData = pd.read_csv("listing_raw.csv")
Listing_df = pd.DataFrame(Listing_RawData)

Listing_RawData.head(5)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,50646,https://www.airbnb.com/rooms/50646,2.020000e+13,27-12-21,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,https://a0.muscache.com/pictures/36342984/670d...,227796,https://www.airbnb.com/users/show/227796,...,4.94,4.72,4.50,NaN,f,1,0,1,0,0.19
1,71609,https://www.airbnb.com/rooms/71609,2.020000e+13,27-12-21,Ensuite Room (Room 1 & 2) near EXPO,For 3 rooms.Book room 1&2 and room 4<br /><br ...,NaN,https://a0.muscache.com/pictures/24453191/3580...,367042,https://www.airbnb.com/users/show/367042,...,4.78,4.26,4.32,NaN,f,5,0,5,0,0.16
2,71896,https://www.airbnb.com/rooms/71896,2.020000e+13,27-12-21,B&B Room 1 near Airport & EXPO,<b>The space</b><br />Vocational Stay Deluxe B...,NaN,https://a0.muscache.com/pictures/2440674/ac4f4...,367042,https://www.airbnb.com/users/show/367042,...,4.43,4.17,4.04,NaN,f,5,0,5,0,0.19
3,71903,https://www.airbnb.com/rooms/71903,2.020000e+13,27-12-21,Room 2-near Airport & EXPO,"Like your own home, 24hrs access.<br /><br /><...",Quiet and view of the playground with exercise...,https://a0.muscache.com/pictures/568743/7bc623...,367042,https://www.airbnb.com/users/show/367042,...,4.64,4.50,4.36,NaN,f,5,0,5,0,0.36
4,275343,https://www.airbnb.com/rooms/275343,2.020000e+13,27-12-21,"Conveniently located City Room!(1,2,3,4,5,6,7,8)",Awesome location and host <br />Room near INSE...,NaN,https://a0.muscache.com/pictures/11979330/9bbd...,1439258,https://www.airbnb.com/users/show/1439258,...,4.47,4.53,4.59,S0399,f,16,1,15,0,0.19

### Listing the dtype of each column

In [3]:
# For column reference: https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=982310896

Listing_RawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3672 non-null   int64
 1   listing_url                                   3672 non-null   object
 2   scrape_id                                     3672 non-null   float64
 3   last_scraped                                  3672 non-null   object
 4   name                                          3672 non-null   object
 5   description                                   3555 non-null   object
 6   neighborhood_overview                         2373 non-null   object
 7   picture_url                                   3672 non-null   object
 8   host_id                                       3672 non-null   int64
 9   host_url                                      3672 non-null   object
 10  host_name                                     3661 non-null   object
 11  host_since                                    3661 non-null   object
 12  host_location                                 3661 non-null   object
 13  host_about                                    2450 non-null   object
 14  host_response_time                            3218 non-null   object
 15  host_response_rate                            3218 non-null   object
 16  host_acceptance_rate                          2944 non-null   object
 17  host_is_superhost                             3661 non-null   object
 18  host_thumbnail_url                            3661 non-null   object
 19  host_picture_url                              3661 non-null   object
 20  host_neighbourhood                            3349 non-null   object
 21  host_listings_count                           3661 non-null   float64
 22  host_total_listings_count                     3661 non-null   float64
 23  host_verifications                            3672 non-null   object
 24  host_has_profile_pic                          3661 non-null   object
 25  host_identity_verified                        3661 non-null   object
 26  neighbourhood                                 2373 non-null   object
 27  neighbourhood_cleansed                        3672 non-null   object
 28  neighbourhood_group_cleansed                  3672 non-null   object
 29  latitude                                      3672 non-null   float64
 30  longitude                                     3672 non-null   float64
 31  property_type                                 3672 non-null   object
 32  room_type                                     3672 non-null   object
 33  accommodates                                  3672 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                3643 non-null   object
 36  bedrooms                                      3255 non-null   float64
 37  beds                                          3542 non-null   float64
 38  amenities                                     3672 non-null   object
 39  price                                         3672 non-null   object
 40  minimum_nights                                3672 non-null   int64
 41  maximum_nights                                3672 non-null   int64
 42  minimum_minimum_nights                        3671 non-null   float64
 43  maximum_minimum_nights                        3671 non-null   float64
 44  minimum_maximum_nights                        3671 non-null   float64
 45  maximum_maximum_nights                        3671 non-null   float64
 46  minimum_nights_avg_ntm                        3671 non-null   float64
 47  maximum_nights_avg_ntm                        3671 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              3672 non-null   object
 50  availability_30                               3672 non-null   int64
 51  availability_60                               3672 non-null   int64
 52  availability_90                               3672 non-null   int64
 53  availability_365                              3672 non-null   int64
 54  calendar_last_scraped                         3672 non-null   object
 55  number_of_reviews                             3672 non-null   int64
 56  number_of_reviews_ltm                         3672 non-null   int64
 57  number_of_reviews_l30d                        3672 non-null   int64
 58  first_review                                  2044 non-null   object
 59  last_review                                   2044 non-null   object
 60  review_scores_rating                          2044 non-null   float64
 61  review_scores_accuracy                        1988 non-null   float64
 62  review_scores_cleanliness                     1989 non-null   float64
 63  review_scores_checkin                         1988 non-null   float64
 64  review_scores_communication                   1989 non-null   float64
 65  review_scores_location                        1988 non-null   float64
 66  review_scores_value                           1988 non-null   float64
 67  license                                       653 non-null    object
 68  instant_bookable                              3672 non-null   object
 69  calculated_host_listings_count                3672 non-null   int64
 70  calculated_host_listings_count_entire_homes   3672 non-null   int64
 71  calculated_host_listings_count_private_rooms  3672 non-null   int64
 72  calculated_host_listings_count_shared_rooms   3672 non-null   int64
 73  reviews_per_month                             2044 non-null   float64
dtypes: float64(23), int64(16), object(35)
memory usage: 2.1+ MB

Let's list down all our observations from the super-quick glance of the dataset, as above.

* There are `73` variables/features/columns and `3672` observations/samples/rows in the dataset.

* The response variable is `price`

Possible Predictors to consider:
* `host_acceptance_rate` & `host_is_superhost`
* `neighbourhood_cleansed` & `neighbourhood_group_cleansed`
* `latitude` & `longitude`
*  `room_type`
* `bedrooms` & `beds`
* `number_of_reviews`
* `availability_365`

Predictor definition: https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=982310896

### Displaying the columns `host_acceptance_rate` & `number_of_reviews`

In [4]:
Listing_df[['host_acceptance_rate', 'number_of_reviews']].describe

<bound method NDFrame.describe of      host_acceptance_rate  number_of_reviews
0                     NaN                 18
1                     NaN                 20
2                     NaN                 24
3                     NaN                 47
4                     77%                 20
...                   ...                ...
3667                 100%                  0
3668                 100%                  0
3669                  NaN                  0
3670                  30%                  0
3671                  67%                  0

[3672 rows x 2 columns]>

In [5]:
#replace host_acceptance_rate NaN values with 0 for records with 0 reviews :D

Listing_df['new_host_acceptance_rate'] = Listing_df['host_acceptance_rate']
Listing_df['check_for_nan'] = Listing_df['host_acceptance_rate'].isnull()
Listing_df['check_for_nan'] = Listing_df['check_for_nan'].replace({True: 111, False: 222})



new_df = Listing_df.loc[Listing_df['check_for_nan']==111]
new_df =  new_df.loc[Listing_df['number_of_reviews'] == 0]
new_df['new_host_acceptance_rate'] = new_df['new_host_acceptance_rate'].fillna(0)


##update_dataframe
Listing_df.update(new_df)

#### Setting `new_host_acceptance_rate` to 0 if and only if `number_of_reviews` are 0

In [6]:
Listing_df[['new_host_acceptance_rate', 'number_of_reviews']].describe

<bound method NDFrame.describe of      new_host_acceptance_rate  number_of_reviews
0                         NaN               18.0
1                         NaN               20.0
2                         NaN               24.0
3                         NaN               47.0
4                         77%               20.0
...                       ...                ...
3667                     100%                0.0
3668                     100%                0.0
3669                      0.0                0.0
3670                      30%                0.0
3671                      67%                0.0

[3672 rows x 2 columns]>

In [7]:
#Remove host_acceptance_rate %
Listing_df['new_host_acceptance_rate'].replace("%", "", inplace=True, regex=True)

In [8]:
#Convert new_host_acceptance_rate dtype from object to float
#describe new_host_acceptance_rate

Listing_df['new_host_acceptance_rate'] = pd.to_numeric(Listing_df['new_host_acceptance_rate'])

Listing_df['new_host_acceptance_rate'].describe()

count    3335.000000
mean       55.313943
std        38.673236
min         0.000000
25%        20.000000
50%        65.000000
75%        93.000000
max       100.000000
Name: new_host_acceptance_rate, dtype: float64

In [9]:
#obtain mean from new_host_acceptance_rate
median_host_acceptance_rate = Listing_df['new_host_acceptance_rate'].median()

In [10]:
#replace new_host_acceptance_rate NaN with mean
Listing_df['new_host_acceptance_rate'].replace(np.nan, median_host_acceptance_rate, inplace=True, regex=True)

In [11]:
#after replacing NaN with mean
Listing_df['new_host_acceptance_rate'].describe()

count    3672.000000
mean       56.202887
std        36.961368
min         0.000000
25%        30.000000
50%        65.000000
75%        91.000000
max       100.000000
Name: new_host_acceptance_rate, dtype: float64

### Replacing NULL with relevant values. Removing unrequired characters.

In [12]:
#Replace reviews_per_month NaN with 0
Listing_df['reviews_per_month'].replace(np.nan, 0, inplace=True, regex=True)

In [13]:
#replace host_is_superhost NaN with f
Listing_df['host_is_superhost'].replace(np.nan, 'f', inplace=True, regex=True)

In [14]:
#Replace bedroom NaN with 0
Listing_df['bedrooms'].replace(np.nan, 0, inplace=True, regex=True)

In [15]:
#Replace beds NaN with 0
Listing_df['beds'].replace(np.nan, 0, inplace=True, regex=True)

In [16]:
#Remove price $ 
Listing_df['price'].replace("\$|\$", "", inplace=True, regex=True)

Listing_df['price'].replace(",", "", inplace=True, regex=True)

In [17]:
#Convert price dtype from object to float
#describe price

Listing_df['price'] = pd.to_numeric(Listing_df['price'])

#Row 983 to be dropped - pricing is $10,286.00 [outlier]
#Row 743 to be dropped - pricing is $8900.00 [outlier] (NEED TO CHECK)
Listing_df = Listing_df[Listing_df.price < 10000]

Listing_df['price'].describe()

count    3671.000000
mean      206.755652
std       370.691181
min         0.000000
25%        70.000000
50%       135.000000
75%       220.000000
max      8900.000000
Name: price, dtype: float64

In [18]:
Listing_df[['new_host_acceptance_rate', 'host_is_superhost', 'bedrooms', 'beds', 'price']]

      new_host_acceptance_rate host_is_superhost  bedrooms  beds  price
0                         65.0                 f       1.0   1.0   80.0
1                         65.0                 f       2.0   3.0  179.0
2                         65.0                 f       1.0   1.0   82.0
3                         65.0                 f       1.0   2.0   82.0
4                         77.0                 f       1.0   1.0   52.0
...                        ...               ...       ...   ...    ...
3667                     100.0                 f       1.0   2.0  185.0
3668                     100.0                 f       1.0   2.0  215.0
3669                       0.0                 f       1.0   1.0   48.0
3670                      30.0                 f       2.0   3.0  529.0
3671                      67.0                 f       1.0   1.0  224.0

[3671 rows x 5 columns]

### Exporting the dataframe into a new csv

In [19]:
#Export columns to new csv for easier analization 

# 1) Check drive location
import os
cwd = os.getcwd()
saved_file = cwd + "\PredictPrice.csv"

# 2) New dataframe for export
export_df = Listing_df[['id', 'new_host_acceptance_rate', 'host_is_superhost', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'room_type', 'bedrooms', 'beds', 'number_of_reviews', 'availability_365','price']]
export_df.to_csv(saved_file, index = False, header=True)

print(export_df)

              id  new_host_acceptance_rate host_is_superhost  \
0        50646.0                      65.0                 f
1        71609.0                      65.0                 f
2        71896.0                      65.0                 f
3        71903.0                      65.0                 f
4       275343.0                      77.0                 f
...          ...                       ...               ...
3667  53905492.0                     100.0                 f
3668  53905653.0                     100.0                 f
3669  53910005.0                       0.0                 f
3670  53910434.0                      30.0                 f
3671  53927825.0                      67.0                 f

     neighbourhood_cleansed neighbourhood_group_cleansed  latitude  \
0               Bukit Timah               Central Region  1.334320
1                  Tampines                  East Region  1.345370
2                  Tampines                  East Region  1.347540
3                  Tampines                  East Region  1.345310
4               Bukit Merah               Central Region  1.290150
...                     ...                          ...       ...
3667            Bukit Merah               Central Region  1.286680
3668            Bukit Merah               Central Region  1.285092
3669          Marine Parade               Central Region  1.302760
3670                Kallang               Central Region  1.300063
3671                  Bedok                  East Region  1.316472

       longitude        room_type  bedrooms  beds  number_of_reviews  \
0     103.785210     Private room       1.0   1.0               18.0
1     103.958870     Private room       2.0   3.0               20.0
2     103.959580     Private room       1.0   1.0               24.0
3     103.961000     Private room       1.0   2.0               47.0
4     103.808140     Private room       1.0   1.0               20.0
...          ...              ...       ...   ...                ...
3667  103.834440     Private room       1.0   2.0                0.0
3668  103.833326     Private room       1.0   2.0                0.0
3669  103.901580     Private room       1.0   1.0                0.0
3670  103.859894  Entire home/apt       2.0   3.0                0.0
3671  103.935271     Private room       1.0   1.0                0.0

      availability_365  price
0                365.0   80.0
1                365.0  179.0
2                365.0   82.0
3                365.0   82.0
4                341.0   52.0
...                ...    ...
3667             358.0  185.0
3668             361.0  215.0
3669             365.0   48.0
3670             363.0  529.0
3671             365.0  224.0

[3671 rows x 13 columns]