In [1]:
# Basic Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import pandas as pd
import re

In [2]:
##natural language processing
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
##for machine learning
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

## 1. Importing Of Data

In [4]:
##cleansing review.csv using the cleansed id from WordData  43239 rows 
reviewData= pd.read_csv('6.reviews.csv')
reviewData.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0           50646  1.190986e+07   18/4/2014      1356099         James
1           50646  1.382395e+07    5/6/2014     15222393         Welli
2           50646  1.511722e+07    2/7/2014      5543172         Cyril
3           50646  1.542646e+07    8/7/2014       817532          Jake
4           50646  1.555291e+07   11/7/2014     10942382         Subba
...           ...           ...         ...          ...           ...
43234    53388036  5.200000e+17  18/12/2021    304470840           Lai
43235    53408171  5.210000e+17  19/12/2021    433426203        Prerna
43236    53614218  5.190000e+17  17/12/2021    107628510        Fellix
43237    53679344  5.160000e+17  13/12/2021    340715577     Mark Roan
43238    53717759  5.140000e+17  10/12/2021    192227309       Zhengyi

                                                comments
0      A comfortable room in a smart condo developmen...
1      Stayed over at Sujatha's house for 3 good nigh...
2      It's been a lovely stay at Sujatha's. The room...
3      We had a great experience. A nice place, an am...
4       Quiet condo. Comfortable stay and good location.
...                                                  ...
43234  Wei is an amazing host! Quick response from We...
43235               Easy to work with and good apartment
43236  Thank you Lucas and Sandy for having me! Sandy...
43237  Great host and amazing experience. Got the one...
43238  Very good location. However, no amenities like...

[43239 rows x 6 columns]>

## 1. Data cleansing (remove unstructure Data)

In [5]:
##function to remove unicode
reviewData['comments']=reviewData['comments'].str.replace('[^\x00-\x7F]','',regex=True)
#function to remove html tags
reviewData['comments']=reviewData['comments'].str.replace(r'<[^<>]*>', '', regex=True)
##function to remove punctuation
reviewData['comments']=reviewData['comments'] .str.replace('[^\w\s]','',regex=True)
##function to remove word and digit containing digits 
#remove words and digit
reviewData['comments']=reviewData['comments'] .str.replace("\S*\d\S*",'',regex=True)
##remove digit in strings
reviewData['comments']=reviewData['comments'] .str.replace('\d+','',regex=True)

In [6]:
from langdetect import detect
import pandas as pd
def detect_en(text):
    try:
        return detect(text) != 'en'
    except:
        return False
    
df = reviewData[reviewData['comments'].apply(detect_en)]

In [7]:
reviewData.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0           50646  1.190986e+07   18/4/2014      1356099         James
1           50646  1.382395e+07    5/6/2014     15222393         Welli
2           50646  1.511722e+07    2/7/2014      5543172         Cyril
3           50646  1.542646e+07    8/7/2014       817532          Jake
4           50646  1.555291e+07   11/7/2014     10942382         Subba
...           ...           ...         ...          ...           ...
43234    53388036  5.200000e+17  18/12/2021    304470840           Lai
43235    53408171  5.210000e+17  19/12/2021    433426203        Prerna
43236    53614218  5.190000e+17  17/12/2021    107628510        Fellix
43237    53679344  5.160000e+17  13/12/2021    340715577     Mark Roan
43238    53717759  5.140000e+17  10/12/2021    192227309       Zhengyi

                                                comments
0      A comfortable room in a smart condo developmen...
1      Stayed over at Sujathas house for  good nights...
2      Its been a lovely stay at Sujathas The room is...
3      We had a great experience A nice place an amaz...
4         Quiet condo Comfortable stay and good location
...                                                  ...
43234  Wei is an amazing host Quick response from Wei...
43235               Easy to work with and good apartment
43236  Thank you Lucas and Sandy for having me Sandy ...
43237  Great host and amazing experience Got the one ...
43238  Very good location However no amenities like b...

[43239 rows x 6 columns]>

In [8]:
df.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
16          50646  2.127953e+07  14/10/2014     18046573          Cora
28          71609  2.901530e+08   14/7/2018    171231300           Tee
100         71903  5.265223e+08    9/9/2019     94605343     Widyawati
101         71903  5.320366e+08   19/9/2019    286552771        Carmen
135        275344  2.356785e+07   5/12/2014      6176057         Felix
...           ...           ...         ...          ...           ...
43169    51257283  4.920000e+17  10/11/2021    343799760  Dinie Danial
43174    51475066  4.850000e+17  31/10/2021    425311856           Law
43179    51476593  5.190000e+17  17/12/2021    429539623         Elvis
43192    51863280  4.920000e+17  10/11/2021    112152393             B
43195    51880948  4.650000e+17   4/10/2021    351523632        Alicia

                                                comments
16     Wir hatten ein paar tolle Tage bei Sujatha Sie...
28                                               not bad
100                                         no hot water
101                                            nice stay
135    Ich war  Wochen lang bei Familie Woon untergek...
...                                                  ...
43169                                          splendid
43174                                         good place
43179                                               nice
43192                                               Good
43195                                               good

[3538 rows x 6 columns]>

## 1. Data cleansing (partitioning of data for translation using API)

In [9]:
##translating/partition the dataframe to english using deep translate (800 row each part due to 5k char limit) (estimated)
df1 = df.iloc[:800]
df2 = df.iloc[800:1600]
df3 = df.iloc[1600:2400]
df4 = df.iloc[2400:3200]
df5 = df.iloc[3200:]

In [10]:
##we observe the negative comment have some foregin language
##transalation 5k threshhold only gonna traanslate negative frame using deep translator
import pandas as pd
from deep_translator import GoogleTranslator
gt = GoogleTranslator(source='auto', dest='en')
df1['comments']=df1['comments'].apply(gt.translate)
df2['comments']=df2['comments'].apply(gt.translate)
df3['comments']=df3['comments'].apply(gt.translate)
df4['comments']=df4['comments'].apply(gt.translate)
df5['comments']=df5['comments'].apply(gt.translate)

C:\Users\liang\AppData\Local\Temp/ipykernel_16408/4273387571.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['comments']=df1['comments'].apply(gt.translate)
C:\Users\liang\AppData\Local\Temp/ipykernel_16408/4273387571.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comments']=df2['comments'].apply(gt.translate)
C:\Users\liang\AppData\Local\Temp/ipykernel_16408/4273387571.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['comments']=df3['comments'].apply(gt.translate)
C:\Users\liang\AppData\Local\Temp/ipykernel_16408/4273387571.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['comments']=df4['comments'].apply(gt.translate)
C:\Users\liang\AppData\Local\Temp/ipykernel_16408/4273387571.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['comments']=df5['comments'].apply(gt.translate)

In [11]:
df1.head

<bound method NDFrame.head of        listing_id           id        date  reviewer_id reviewer_name  \
16          50646   21279532.0  14/10/2014     18046573          Cora
28          71609  290153045.0   14/7/2018    171231300           Tee
100         71903  526522333.0    9/9/2019     94605343     Widyawati
101         71903  532036580.0   19/9/2019    286552771        Carmen
135        275344   23567853.0   5/12/2014      6176057         Felix
...           ...          ...         ...          ...           ...
10462     6958476  255592314.0   21/4/2018     40670596          Eddy
10466     6958476  451058596.0   11/5/2019     13427554       Rolande
10491     6983613  129747604.0    1/2/2017    110771657            Da
10498     6983613  215650788.0   1/12/2017    156708863       Michael
10544     6993627  146201583.0   22/4/2017     36987383           Sam

                                                comments
16     We had a great few days with Sujatha. She is a...
28                                               not bad
100                                         no hot water
101                                            nice stay
135    I stayed with the Woon family for weeks and ha...
...                                                  ...
10462  Only happiness Studio located in a magnificent...
10466  We had a great stay at Alex's The description ...
10491                                          very nice
10498  Really cozy place with good service Good price...
10544                                       As described

[800 rows x 6 columns]>

In [12]:
df2.head

<bound method NDFrame.head of        listing_id           id        date  reviewer_id reviewer_name  \
10552     6993627  164634273.0   28/6/2017     77858519            은비
10561     6993627  206747156.0  27/10/2017     53129040         Thant
10566     6993627  217355670.0   9/12/2017     45773112         David
10582     6993627  283436705.0   30/6/2018    185285243       Theresa
10585     6993627  296029020.0   25/7/2018    199598970            륜기
...           ...          ...         ...          ...           ...
20777    14682068  171579778.0   18/7/2017    106218635            경민
20780    14682068  211739591.0  14/11/2017     60617654           Joo
20782    14682068  245128334.0   21/3/2018     22500586       Letizia
20837    14718255  198294963.0   29/9/2017    138539698         Shaun
20852    14719882  120820940.0  11/12/2016    106675132            嘉禄

                                                comments
10552                                            MRT MRT
10561                                         Nice place
10566         Fantastic value for Singapore  Great value
10582  The apartment was very clean and large there w...
10585                                                  D
...                                                  ...
20777                                            Mar Mar
20780                               MRT Hidden by Airbnb
20782  The apartment was spacious clean the sheets we...
20837                                           All good
20852                                               nice

[800 rows x 6 columns]>

In [13]:
df3.head

<bound method NDFrame.head of        listing_id           id       date  reviewer_id reviewer_name  \
20867    14740975  132119238.0  15/2/2017     26842946        Thomas
20888    14740975  244906200.0  20/3/2018      3851942        Nadège
20906    14740975  409145590.0   7/2/2019    202224675        Chieko
20930    14790116  141038772.0   1/4/2017    121818204        Tzu Yi
20942    14790116  171855581.0  19/7/2017     42484670          Suki
...           ...          ...        ...          ...           ...
30835    24660198  402627822.0  19/1/2019     33893738          Long
30843    24660198  587978105.0   3/1/2020     59552852       Sanghee
30853    24664051  292795758.0  19/7/2018     12309521        Selina
30891    24664051  419458013.0   4/3/2019    237756810     Jean-Yves
30915    24664051  499145480.0  31/7/2019    251606857           Lea

                                                comments
20867  The accommodation is very well located in chin...
20888  Clean apartment housekeeping every three days ...
20906                                          Recommend
20930                                              Tooth
20942                                       GiginiceGigi
...                                                  ...
30835                                          As listed
30843                                               Good
30853  The apartment is in a pleasant neighborhood ab...
30891  A location in a beautiful preserved area typic...
30915  We were well received by Nympa and also had th...

[800 rows x 6 columns]>

In [14]:
df4.head

<bound method NDFrame.head of        listing_id           id        date  reviewer_id reviewer_name  \
30935    24664051  574231427.0   8/12/2019     17864125         Oscar
30944    24664051  594200911.0   18/1/2020     25103250       Valerie
30946    24664051  597647334.0   26/1/2020    156892115        Jiaxin
30958    24664051  644922776.0    1/8/2020    348240590   Keong  Meng
30970    24664051  717795967.0  24/12/2020    372037564        Thomas
...           ...          ...         ...          ...           ...
40955    42078904  633926611.0    2/7/2020    344037308      Rominico
40959    42078904  634427301.0    4/7/2020     31108545      Hock Lye
40964    42078904  635305237.0    6/7/2020    342380962           Nur
40976    42078904  638855148.0   17/7/2020    177433613          Riya
40977    42078904  639236502.0   18/7/2020    213127984          Htoo

                                      comments
30935                               no worries
30944  Perfect location for visiting Singapore
30946                         Great experience
30958                                Excellent
30970                       Excellent location
...                                        ...
40955                                   Timing
40959                                     Good
40964                                    Bestt
40976                                Good stay
40977                               Nice place

[800 rows x 6 columns]>

In [15]:
df5.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
40994    42078904  6.454611e+08    2/8/2020    357142793     Yogeswari
40997    42078904  6.461359e+08    3/8/2020    144076255         Nicky
41000    42078904  6.471405e+08    6/8/2020    350742662         Brian
41001    42078904  6.474861e+08    7/8/2020    178345731       Maryati
41003    42078904  6.479291e+08    8/8/2020    348495457             M
...           ...           ...         ...          ...           ...
43169    51257283  4.920000e+17  10/11/2021    343799760  Dinie Danial
43174    51475066  4.850000e+17  31/10/2021    425311856           Law
43179    51476593  5.190000e+17  17/12/2021    429539623         Elvis
43192    51863280  4.920000e+17  10/11/2021    112152393             B
43195    51880948  4.650000e+17   4/10/2021    351523632        Alicia

                comments
40994                Nil
40997  room is very good
41000         Nice place
41001    very nice place
41003         Nice place
...                  ...
43169           splendid
43174         good place
43179               nice
43192               Good
43195               good

[338 rows x 6 columns]>

## 1. Data cleansing (Update Translated Comment Row)

In [16]:
##update the dataframe back to the ReviewData
reviewData.update(df1)
reviewData.update(df2)
reviewData.update(df3)
reviewData.update(df4)
reviewData.update(df5)

In [17]:
reviewData.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0         50646.0  1.190986e+07   18/4/2014    1356099.0         James
1         50646.0  1.382395e+07    5/6/2014   15222393.0         Welli
2         50646.0  1.511722e+07    2/7/2014    5543172.0         Cyril
3         50646.0  1.542646e+07    8/7/2014     817532.0          Jake
4         50646.0  1.555291e+07   11/7/2014   10942382.0         Subba
...           ...           ...         ...          ...           ...
43234  53388036.0  5.200000e+17  18/12/2021  304470840.0           Lai
43235  53408171.0  5.210000e+17  19/12/2021  433426203.0        Prerna
43236  53614218.0  5.190000e+17  17/12/2021  107628510.0        Fellix
43237  53679344.0  5.160000e+17  13/12/2021  340715577.0     Mark Roan
43238  53717759.0  5.140000e+17  10/12/2021  192227309.0       Zhengyi

                                                comments
0      A comfortable room in a smart condo developmen...
1      Stayed over at Sujathas house for  good nights...
2      Its been a lovely stay at Sujathas The room is...
3      We had a great experience A nice place an amaz...
4         Quiet condo Comfortable stay and good location
...                                                  ...
43234  Wei is an amazing host Quick response from Wei...
43235               Easy to work with and good apartment
43236  Thank you Lucas and Sandy for having me Sandy ...
43237  Great host and amazing experience Got the one ...
43238  Very good location However no amenities like b...

[43239 rows x 6 columns]>

## 1. Data cleansing (Remove Stopword, tokenization,stemming,lemmatizing)

In [18]:
##removing stop words
# Import stopwords with nltk.
from nltk.corpus import stopwords
stop = stopwords.words('english')
pat = r'\b(?:{})\b'.format('|'.join(stop),regex=True)
reviewData['comments_nostop']= reviewData['comments'].str.replace(pat, '',regex=True)
reviewData['comments_nostop']=reviewData['comments_nostop'].str.replace(r'\s+', ' ',regex=True)

In [19]:
##function to token data 
##function to token data 
import pandas as pd
import nltk
reviewData['comments_nostop'] = reviewData['comments_nostop'].apply(str)
reviewData['comments_tokenized'] = reviewData.apply(lambda row: nltk.word_tokenize(row['comments_nostop']), axis=1)

#stemming
import pandas as pd
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
reviewData['stemmed'] =reviewData['comments_tokenized'].apply(lambda x: [stemmer.stem(y) for y in x]) 


##lemmatizing
import nltk
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]
reviewData['lemmatized'] =reviewData['comments_nostop'].apply(lemmatize_text)

In [20]:
##ensuring everything is cap
reviewData['comments'] = reviewData['comments'].apply(str)
reviewData['comments'] = reviewData['comments'].str.upper()
reviewData['lemmatized']  = reviewData['lemmatized'] .apply(str)
reviewData['lemmatized'] = reviewData['lemmatized'] .str.upper()
reviewData['stemmed']  = reviewData['stemmed'] .apply(str)
reviewData['stemmed'] = reviewData['stemmed'] .str.upper()
reviewData['comments_tokenized']  = reviewData['comments_tokenized'] .apply(str)
reviewData['comments_tokenized'] = reviewData['comments_tokenized'] .str.upper()
reviewData['comments_nostop']  = reviewData['comments_nostop'] .apply(str)
reviewData['comments_nostop'] = reviewData['comments_nostop'] .str.upper()

In [21]:
reviewData.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0         50646.0  1.190986e+07   18/4/2014    1356099.0         James
1         50646.0  1.382395e+07    5/6/2014   15222393.0         Welli
2         50646.0  1.511722e+07    2/7/2014    5543172.0         Cyril
3         50646.0  1.542646e+07    8/7/2014     817532.0          Jake
4         50646.0  1.555291e+07   11/7/2014   10942382.0         Subba
...           ...           ...         ...          ...           ...
43234  53388036.0  5.200000e+17  18/12/2021  304470840.0           Lai
43235  53408171.0  5.210000e+17  19/12/2021  433426203.0        Prerna
43236  53614218.0  5.190000e+17  17/12/2021  107628510.0        Fellix
43237  53679344.0  5.160000e+17  13/12/2021  340715577.0     Mark Roan
43238  53717759.0  5.140000e+17  10/12/2021  192227309.0       Zhengyi

                                                comments  \
0      A COMFORTABLE ROOM IN A SMART CONDO DEVELOPMEN...
1      STAYED OVER AT SUJATHAS HOUSE FOR  GOOD NIGHTS...
2      ITS BEEN A LOVELY STAY AT SUJATHAS THE ROOM IS...
3      WE HAD A GREAT EXPERIENCE A NICE PLACE AN AMAZ...
4         QUIET CONDO COMFORTABLE STAY AND GOOD LOCATION
...                                                  ...
43234  WEI IS AN AMAZING HOST QUICK RESPONSE FROM WEI...
43235               EASY TO WORK WITH AND GOOD APARTMENT
43236  THANK YOU LUCAS AND SANDY FOR HAVING ME SANDY ...
43237  GREAT HOST AND AMAZING EXPERIENCE GOT THE ONE ...
43238  VERY GOOD LOCATION HOWEVER NO AMENITIES LIKE B...

                                         comments_nostop  \
0      A COMFORTABLE ROOM SMART CONDO DEVELOPMENT EVE...
1      STAYED SUJATHAS HOUSE GOOD NIGHTS BOYFRIEND SU...
2      ITS LOVELY STAY SUJATHAS THE ROOM CLEAN LOCATI...
3      WE GREAT EXPERIENCE A NICE PLACE AMAZING COMPL...
4             QUIET CONDO COMFORTABLE STAY GOOD LOCATION
...                                                  ...
43234       WEI AMAZING HOST QUICK RESPONSE WEI HELPFUL
43235                           EASY WORK GOOD APARTMENT
43236  THANK LUCAS SANDY SANDY FRIENDLY HELPING QUEST...
43237  GREAT HOST AMAZING EXPERIENCE GOT ONE BEST DEA...
43238  VERY GOOD LOCATION HOWEVER AMENITIES LIKE BASI...

                                      comments_tokenized  \
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...
...                                                  ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...

                                                 stemmed  \
0      ['A', 'COMFORT', 'ROOM', 'SMART', 'CONDO', 'DE...
1      ['STAY', 'SUJATHA', 'HOUS', 'GOOD', 'NIGHT', '...
2      ['IT', 'LOVE', 'STAY', 'SUJATHA', 'THE', 'ROOM...
3      ['WE', 'GREAT', 'EXPERI', 'A', 'NICE', 'PLACE'...
4      ['QUIET', 'CONDO', 'COMFORT', 'STAY', 'GOOD', ...
...                                                  ...
43234  ['WEI', 'AMAZ', 'HOST', 'QUICK', 'RESPONS', 'W...
43235                  ['EASI', 'WORK', 'GOOD', 'APART']
43236  ['THANK', 'LUCA', 'SANDI', 'SANDI', 'FRIEND', ...
43237  ['GREAT', 'HOST', 'AMAZ', 'EXPERI', 'GOT', 'ON...
43238  ['VERI', 'GOOD', 'LOCAT', 'HOWEV', 'AMEN', 'LI...

                                              lemmatized
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...
...                                                  ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...

[43239 rows x 10 columns]>

## 1. Data cleansing (Using Vader to tag comments instead of human tagging)

In [22]:
##sentiential
import nltk
nltk.download([
     "names",
    "stopwords",
    "state_union",
    "twitter_samples",
    "movie_reviews",
    "averaged_perceptron_tagger",
     "vader_lexicon",
   "punkt"])


#to be used later
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import time
analyzer = SentimentIntensityAnalyzer()
reviewData['compound'] = [analyzer.polarity_scores(x)['compound'] for x in reviewData['comments']]
reviewData['neg'] = [analyzer.polarity_scores(x)['neg'] for x in reviewData['comments']]
reviewData['neu'] = [analyzer.polarity_scores(x)['neu'] for x in reviewData['comments']]
reviewData['pos'] = [analyzer.polarity_scores(x)['pos'] for x in reviewData['comments']]

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package state_union to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package state_union is already up-to-date!
[nltk_data] Downloading package twitter_samples to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package twitter_samples is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\liang\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## 1. Data cleansing (Function to Divide into different tiers 7 tiers, 1 tier netural to be remove later, left 6 tiers)

In [28]:
from numba import njit
import numpy as np
#-0.66 to -1
#-0.33 to -0.66
#0.00 to -0.33
#0.00 to 0.33
#0.33 to 0.66
#0.66 to 1
from numba import njit
def cut(arr):
    bins = np.empty(arr.shape[0])
    for idx, x in enumerate(arr):
        if (x <= -0.66) & (x > -1):
            bins[idx] = 1
        elif (x > -0.66) & (x <= -0.33):
            bins[idx] = 2
        elif (x <0):
            bins[idx] = 3
        elif (x > 0) & (x < 0.33):
            bins[idx] = 4
        elif (x >= 0.33) & (x < 0.66):
            bins[idx] = 5
        elif (x >= 0.66) & (x < 1):
            bins[idx] = 6
        else:
            bins[idx] = 0
    return bins

df= cut(reviewData['compound'].to_numpy())
reviewData['bin']=pd.Series(df)

reviewData['bin_word']= reviewData['bin']






reviewData['bin_word'].replace(to_replace=[1,2,3,4,5,6,0], value=["VN", "QN", "N","P","QP","VP","NE"], inplace=True)

In [29]:
reviewData.head

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0         50646.0  1.190986e+07   18/4/2014    1356099.0         James
1         50646.0  1.382395e+07    5/6/2014   15222393.0         Welli
2         50646.0  1.511722e+07    2/7/2014    5543172.0         Cyril
3         50646.0  1.542646e+07    8/7/2014     817532.0          Jake
4         50646.0  1.555291e+07   11/7/2014   10942382.0         Subba
...           ...           ...         ...          ...           ...
43234  53388036.0  5.200000e+17  18/12/2021  304470840.0           Lai
43235  53408171.0  5.210000e+17  19/12/2021  433426203.0        Prerna
43236  53614218.0  5.190000e+17  17/12/2021  107628510.0        Fellix
43237  53679344.0  5.160000e+17  13/12/2021  340715577.0     Mark Roan
43238  53717759.0  5.140000e+17  10/12/2021  192227309.0       Zhengyi

                                                comments  \
0      A COMFORTABLE ROOM IN A SMART CONDO DEVELOPMEN...
1      STAYED OVER AT SUJATHAS HOUSE FOR  GOOD NIGHTS...
2      ITS BEEN A LOVELY STAY AT SUJATHAS THE ROOM IS...
3      WE HAD A GREAT EXPERIENCE A NICE PLACE AN AMAZ...
4         QUIET CONDO COMFORTABLE STAY AND GOOD LOCATION
...                                                  ...
43234  WEI IS AN AMAZING HOST QUICK RESPONSE FROM WEI...
43235               EASY TO WORK WITH AND GOOD APARTMENT
43236  THANK YOU LUCAS AND SANDY FOR HAVING ME SANDY ...
43237  GREAT HOST AND AMAZING EXPERIENCE GOT THE ONE ...
43238  VERY GOOD LOCATION HOWEVER NO AMENITIES LIKE B...

                                         comments_nostop  \
0      A COMFORTABLE ROOM SMART CONDO DEVELOPMENT EVE...
1      STAYED SUJATHAS HOUSE GOOD NIGHTS BOYFRIEND SU...
2      ITS LOVELY STAY SUJATHAS THE ROOM CLEAN LOCATI...
3      WE GREAT EXPERIENCE A NICE PLACE AMAZING COMPL...
4             QUIET CONDO COMFORTABLE STAY GOOD LOCATION
...                                                  ...
43234       WEI AMAZING HOST QUICK RESPONSE WEI HELPFUL
43235                           EASY WORK GOOD APARTMENT
43236  THANK LUCAS SANDY SANDY FRIENDLY HELPING QUEST...
43237  GREAT HOST AMAZING EXPERIENCE GOT ONE BEST DEA...
43238  VERY GOOD LOCATION HOWEVER AMENITIES LIKE BASI...

                                      comments_tokenized  \
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...
...                                                  ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...

                                                 stemmed  \
0      ['A', 'COMFORT', 'ROOM', 'SMART', 'CONDO', 'DE...
1      ['STAY', 'SUJATHA', 'HOUS', 'GOOD', 'NIGHT', '...
2      ['IT', 'LOVE', 'STAY', 'SUJATHA', 'THE', 'ROOM...
3      ['WE', 'GREAT', 'EXPERI', 'A', 'NICE', 'PLACE'...
4      ['QUIET', 'CONDO', 'COMFORT', 'STAY', 'GOOD', ...
...                                                  ...
43234  ['WEI', 'AMAZ', 'HOST', 'QUICK', 'RESPONS', 'W...
43235                  ['EASI', 'WORK', 'GOOD', 'APART']
43236  ['THANK', 'LUCA', 'SANDI', 'SANDI', 'FRIEND', ...
43237  ['GREAT', 'HOST', 'AMAZ', 'EXPERI', 'GOT', 'ON...
43238  ['VERI', 'GOOD', 'LOCAT', 'HOWEV', 'AMEN', 'LI...

                                              lemmatized  compound    neg  \
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...    0.9298  0.054
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...    0.9878  0.000
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...    0.9627  0.000
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...    0.9274  0.000
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...    0.7351  0.000
...                                                  ...       ...    ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...    0.7841  0.000
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']    0.7003  0.000
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...    0.9535  0.000
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...    0.9201  0.000
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...    0.3363  0.145

         neu    pos  bin bin_word
0      0.623  0.323  6.0       VP
1      0.613  0.387  6.0       VP
2      0.645  0.355  6.0       VP
3      0.489  0.511  6.0       VP
4      0.446  0.554  6.0       VP
...      ...    ...  ...      ...
43234  0.592  0.408  6.0       VP
43235  0.463  0.537  6.0       VP
43236  0.631  0.369  6.0       VP
43237  0.498  0.502  6.0       VP
43238  0.700  0.154  5.0       QP

[43239 rows x 16 columns]>

## 1. Data cleansing (Removing rows that is netural)

In [31]:
##removing netural from dataframe
reviewData = reviewData[reviewData['bin_word'] !='NE']

In [32]:
reviewData.head #(37352 rows) 5887 is null

<bound method NDFrame.head of        listing_id            id        date  reviewer_id reviewer_name  \
0         50646.0  1.190986e+07   18/4/2014    1356099.0         James
1         50646.0  1.382395e+07    5/6/2014   15222393.0         Welli
2         50646.0  1.511722e+07    2/7/2014    5543172.0         Cyril
3         50646.0  1.542646e+07    8/7/2014     817532.0          Jake
4         50646.0  1.555291e+07   11/7/2014   10942382.0         Subba
...           ...           ...         ...          ...           ...
43234  53388036.0  5.200000e+17  18/12/2021  304470840.0           Lai
43235  53408171.0  5.210000e+17  19/12/2021  433426203.0        Prerna
43236  53614218.0  5.190000e+17  17/12/2021  107628510.0        Fellix
43237  53679344.0  5.160000e+17  13/12/2021  340715577.0     Mark Roan
43238  53717759.0  5.140000e+17  10/12/2021  192227309.0       Zhengyi

                                                comments  \
0      A COMFORTABLE ROOM IN A SMART CONDO DEVELOPMEN...
1      STAYED OVER AT SUJATHAS HOUSE FOR  GOOD NIGHTS...
2      ITS BEEN A LOVELY STAY AT SUJATHAS THE ROOM IS...
3      WE HAD A GREAT EXPERIENCE A NICE PLACE AN AMAZ...
4         QUIET CONDO COMFORTABLE STAY AND GOOD LOCATION
...                                                  ...
43234  WEI IS AN AMAZING HOST QUICK RESPONSE FROM WEI...
43235               EASY TO WORK WITH AND GOOD APARTMENT
43236  THANK YOU LUCAS AND SANDY FOR HAVING ME SANDY ...
43237  GREAT HOST AND AMAZING EXPERIENCE GOT THE ONE ...
43238  VERY GOOD LOCATION HOWEVER NO AMENITIES LIKE B...

                                         comments_nostop  \
0      A COMFORTABLE ROOM SMART CONDO DEVELOPMENT EVE...
1      STAYED SUJATHAS HOUSE GOOD NIGHTS BOYFRIEND SU...
2      ITS LOVELY STAY SUJATHAS THE ROOM CLEAN LOCATI...
3      WE GREAT EXPERIENCE A NICE PLACE AMAZING COMPL...
4             QUIET CONDO COMFORTABLE STAY GOOD LOCATION
...                                                  ...
43234       WEI AMAZING HOST QUICK RESPONSE WEI HELPFUL
43235                           EASY WORK GOOD APARTMENT
43236  THANK LUCAS SANDY SANDY FRIENDLY HELPING QUEST...
43237  GREAT HOST AMAZING EXPERIENCE GOT ONE BEST DEA...
43238  VERY GOOD LOCATION HOWEVER AMENITIES LIKE BASI...

                                      comments_tokenized  \
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...
...                                                  ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...

                                                 stemmed  \
0      ['A', 'COMFORT', 'ROOM', 'SMART', 'CONDO', 'DE...
1      ['STAY', 'SUJATHA', 'HOUS', 'GOOD', 'NIGHT', '...
2      ['IT', 'LOVE', 'STAY', 'SUJATHA', 'THE', 'ROOM...
3      ['WE', 'GREAT', 'EXPERI', 'A', 'NICE', 'PLACE'...
4      ['QUIET', 'CONDO', 'COMFORT', 'STAY', 'GOOD', ...
...                                                  ...
43234  ['WEI', 'AMAZ', 'HOST', 'QUICK', 'RESPONS', 'W...
43235                  ['EASI', 'WORK', 'GOOD', 'APART']
43236  ['THANK', 'LUCA', 'SANDI', 'SANDI', 'FRIEND', ...
43237  ['GREAT', 'HOST', 'AMAZ', 'EXPERI', 'GOT', 'ON...
43238  ['VERI', 'GOOD', 'LOCAT', 'HOWEV', 'AMEN', 'LI...

                                              lemmatized  compound    neg  \
0      ['A', 'COMFORTABLE', 'ROOM', 'SMART', 'CONDO',...    0.9298  0.054
1      ['STAYED', 'SUJATHAS', 'HOUSE', 'GOOD', 'NIGHT...    0.9878  0.000
2      ['ITS', 'LOVELY', 'STAY', 'SUJATHAS', 'THE', '...    0.9627  0.000
3      ['WE', 'GREAT', 'EXPERIENCE', 'A', 'NICE', 'PL...    0.9274  0.000
4      ['QUIET', 'CONDO', 'COMFORTABLE', 'STAY', 'GOO...    0.7351  0.000
...                                                  ...       ...    ...
43234  ['WEI', 'AMAZING', 'HOST', 'QUICK', 'RESPONSE'...    0.7841  0.000
43235              ['EASY', 'WORK', 'GOOD', 'APARTMENT']    0.7003  0.000
43236  ['THANK', 'LUCAS', 'SANDY', 'SANDY', 'FRIENDLY...    0.9535  0.000
43237  ['GREAT', 'HOST', 'AMAZING', 'EXPERIENCE', 'GO...    0.9201  0.000
43238  ['VERY', 'GOOD', 'LOCATION', 'HOWEVER', 'AMENI...    0.3363  0.145

         neu    pos  bin bin_word
0      0.623  0.323  6.0       VP
1      0.613  0.387  6.0       VP
2      0.645  0.355  6.0       VP
3      0.489  0.511  6.0       VP
4      0.446  0.554  6.0       VP
...      ...    ...  ...      ...
43234  0.592  0.408  6.0       VP
43235  0.463  0.537  6.0       VP
43236  0.631  0.369  6.0       VP
43237  0.498  0.502  6.0       VP
43238  0.700  0.154  5.0       QP

[37352 rows x 16 columns]>

## Export of Data

In [33]:
#export cleansed data
reviewData.to_csv('6.review(cleansed).csv')